@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
    padding:0; 
    border:none; 
    margin:auto;
}

/* Eléments principaux de la page */

body {
    font-family: 'Montserrat', 'Trebuchet MS', Arial, sans-serif;
    font-size: medium;
    color: black;
    max-width: 1240px;
    min-height: 900px; /* à voir encore ensemble pour la hauteur */
    box-shadow: 0px 0px 20px 0px;
    position: relative;
}

header h1, h2, h3 {
    font-family: 'Roboto Slab', 'Trebuchet MS', Arial, sans-serif;
}

/* header (new version Anto) */

h1 {
    padding-top: 7%;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #d8b4a0 0%, #db4d21 100%);
}

/* navigation (version Stéph + Gwen + Anto updated) */

@media (max-width: 640px) {
    .hamburger{
        text-align: center;
        padding-top: 5px;
    }
    .hamburger img{
        filter: invert(100%);
    }
    nav li:not(.hamburger){
        transition: display;
        display: none;
    }
    nav:hover li:not(.hamburger){
        display: block;
    }
}

@media (min-width: 640px) {
    .hamburger{
        display: none;
    }
    nav li {
        float: left;
        padding-left: 15px;
    }
}

nav {
    height: 2%;
    /* rajouts SB */
    font-size: 1.1em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #454545;
  }
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

nav li a:hover, li.active a {
    background-color: rgb(255, 255, 255);
    color: #d9481a; 
}

/* corps */

main header {
    margin-top: 50px;
    margin-bottom: 25px;
}

header h2 {
    font-size: 1.8em;
    line-height: 1.1em;
    border-bottom: 2px rgb(228, 226, 226) solid;
    margin-bottom: -0.3em;
}

header p {
    font-size: 1.1em;
    color: grey;
    font-style: italic;
    text-align: right;
}

main {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

main a {
    color:#db4d21;
    text-decoration: none;
}

main p {
    margin-top: 1em;
    margin-bottom: 1em;
}

article {
    margin: 0px 20px 30px 20px;
}

aside {
    width: 70%;
    height: 220%;
    box-shadow: 0px 0px 10px grey;
    margin: 20px 20px 20px 20px ;
}

aside ul {
    list-style-type: none;
    padding: 0px 10px 6px 10px;
}

aside h3 {
    font-size: 1.3em;
    background:#db4d21;
    padding: 6px 10px 6px 10px;
    color: white;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0px;
}

footer img {
    width: 25%;
    max-width: 200px;
}

