@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700|Delius:700');
/* game */
* {
    box-sizing: border-box;
    padding:0; 
    border:none; 
    margin:auto;
    font-family: 'Delius', 'Trebuchet MS', Arial, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: black;
  }
  
#bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  height: 100%;
  max-width: 1500px;
  min-height: 600px;
  max-height: 600px;
  position: relative;
}

#drop {
  display: flex;
  justify-content: center;
}

.droppies {
  position: absolute;
  cursor: grab;
}
#geolocation {
  position: fixed;
  padding-left: 850px;
  width: 1500px;
  top: 320px;
}

#dropzone {
  height: 135px;
  width: 700px;
  position: fixed;
  top: 415px;
}

#dropzone p {
  text-align: center;
  font-size: 1.8em;
  color: white;
}

canvas {
    padding: 0;
    padding-top: 0;
    margin: auto;
    margin-top: 0;
    display: block;
    border: 1px solid greenyellow;
}


/* help container */
/* based on: https://www.w3schools.com/howto/howto_css_tooltip.asp */
#help {
  color: white;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  top: 10px;
  padding: 5px 12px;
  border: 1px solid white;
  border-radius: 100%;
}

/* help text */
#help .helptext {
  visibility: hidden;
  width: 400px;
  color: #fff;
  background-color: black;
  text-align: center;

  /* Position the help text */
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 10px;

  /* Fade in help */
  opacity: 0;
  transition: opacity 0.3s;
}

#help:hover .helptext {
  visibility: visible;
  opacity: 1;
}

#geolocation { 
  text-align: left;
  font-size: 1.6em;
  color: #86dbff;
}
