/* game */
* {
    box-sizing: border-box;
    padding:0; 
    border:none; 
    margin:auto;
    font-family: 'Delius', 'Trebuchet MS', Arial, sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
  }
  
  #bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    height: 100%;
    max-width: 1500px;
    min-height: 600px;
    max-height: 600px;
  }
  

canvas {
    padding: 0;
    padding-top: 0;
    margin: auto;
    margin-top: 0;
    display: block;
    border: 1px solid greenyellow;
}


/* based on: https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* help container */
#help {
  color: white;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 280px;
  padding: 5px 12px;
  border: 1px solid white;
  border-radius: 100%;
}

/* help text */
#help .helptext {
  visibility: hidden;
  width: 400px;
  color: #fff;
  background-color: black;
  text-align: center;

  /* Position the help text */
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0px;

  /* Fade in help */
  opacity: 0;
  transition: opacity 0.3s;
}

#help:hover .helptext {
  visibility: visible;
  opacity: 1;
}

#help img {
  width: 200px;
}